.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/parser/cmake-build-debug/
/parser/.idea/
/parser/ist.db
/.idea/deploymentTargetDropDown.xml
/.idea/misc.xml
